:root {
    /* Layout */
    --mobile-width: 375px;
    --desktop-width: 1440px;
  
    /* Colors */
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);
  
    --neutral-very-dark-blue: hsl(234, 12%, 34%);
    --neutral-grayish-blue: hsl(229, 6%, 66%);
    --neutral-very-light-gray: hsl(0, 0%, 98%);
  
    /* Typography */
    --body-font-size: 15px;
    --font-family: 'Poppins', sans-serif;
    --font-weight-light: 200;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
  }
  
body{
    background-color: var(--neutral-very-light-gray);
    font: var(--body-font-size) var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.5rem;
    margin: 2% 0 0 0;
}



.title-section{
    text-align: center;

}

.title-section h1.reliable-heading{
    color: var(--neutral-grayish-blue);
    font-weight: var(--font-weight-light);
    font-size:2rem;
}


.title-section h1.powered-by-heading{
    color: var(--neutral-very-dark-blue);
    font-weight: var(--font-weight-semibold);
    font-size:2rem;
}

.title-section h1{
    margin-top: 0;
    margin-bottom: 0;
}

.title-section p{
    font-size: 0.84rem;
    color: var(--neutral-grayish-blue);
}

.cards-section{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1.5rem;
}
 .feature-card{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: 0px 8px 11px 0px rgba(216,223,235,0.75);
    height: 14rem;
    width: 21rem;
    box-sizing: border-box;
    padding: 2rem ;
    position: relative;

 }

 .supervisor{
    grid-column: 1;
    grid-row: span 2;
    align-self: center;
    border-top: 4px solid var(--primary-cyan);
 }

 .calculator{
    grid-column: 3;
    grid-row: span 2;
    align-self: center;
    border-top: 4px solid var(--primary-blue);
 }

 .karma{
    grid-column: 2;
    grid-row: 2/3;
    border-top: 4px solid var(--primary-orange);
 }

 .team-builder{
    border-top: 4px solid var(--primary-red);

 }
 h3{
    margin-top: 0;
    color: var(--neutral-very-dark-blue);
 }

 .card-icon{
    position: absolute;
    right: 2rem;
 }

 .feature-card p{
    color: var(--neutral-grayish-blue);
    font-size: 0.85rem;
 }